ALLOWED_ORIGINS=http://localhost:8082,http://localhost:5173
HOST_PORT_WEB=8082
HOST_PORT_SERVER=8080
HOST_PORT_TOKEN=8081
DATABASE_URL=jdbc:postgresql://postgres:5432/typetype
DATABASE_USER=typetype
DATABASE_PASSWORD=typetype
DRAGONFLY_URL=redis://dragonfly:6379
GITHUB_REPO=Priveetee/TypeType-Server
GITHUB_ISSUE_TEMPLATE=bug_report_backend.md
DOWNLOADER_S3_ACCESS_KEY=SET_ME_ACCESS_KEY
DOWNLOADER_S3_SECRET_KEY=SET_ME_SECRET_KEY
