.typetype-audio-only-player .typetype-adaptive-audio-layout .vds-controls > .vds-controls-spacer,
.typetype-audio-only-player
  .typetype-adaptive-audio-layout
  .vds-controls
  > .vds-controls-group:nth-child(1),
.typetype-audio-only-player
  .typetype-adaptive-audio-layout
  .vds-controls
  > .vds-controls-group:nth-child(3) {
  display: none;
}

.typetype-audio-only-player
  .typetype-adaptive-audio-layout
  .vds-controls
  > .vds-controls-group:nth-last-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 1.25rem;
  padding: 0.15rem 0 0;
}

.typetype-audio-only-player
  .typetype-adaptive-audio-layout
  .vds-controls
  > .vds-controls-group:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  height: 2.6rem;
  grid-template-columns: auto auto auto 1fr auto auto auto;
  grid-template-rows: 2.25rem;
  gap: 0 0.7rem;
  align-items: center;
  padding: 0 0 0.35rem;
}

.typetype-audio-only-player .typetype-adaptive-audio-layout .typetype-audio-seek-button,
.typetype-audio-only-player .typetype-adaptive-audio-layout .typetype-audio-play-button,
.typetype-audio-only-player .typetype-adaptive-audio-layout .vds-time-group,
.typetype-audio-only-player .typetype-adaptive-audio-layout .typetype-mobile-volume-control,
.typetype-audio-only-player .typetype-adaptive-audio-layout .vds-menu-button {
  grid-row: 1;
}

.typetype-audio-only-player .typetype-adaptive-audio-layout .vds-time-group {
  grid-column: 5;
}

@media (max-width: 639px) {
  .typetype-audio-only-player
    .typetype-adaptive-audio-layout
    .vds-controls
    > .vds-controls-group:last-child {
    height: 2.5rem;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-template-rows: 2.2rem;
    gap: 0 0.2rem;
    padding: 0 0 0.3rem;
  }

  .typetype-audio-only-player .typetype-adaptive-audio-layout .vds-time-group {
    grid-column: 4;
    min-width: 0;
    justify-content: center;
  }

  .typetype-audio-only-player .typetype-adaptive-audio-layout .typetype-mobile-volume-control {
    display: flex;
    grid-column: 5;
    width: 4.3rem;
  }

  .typetype-audio-only-player .typetype-adaptive-audio-layout .vds-settings-menu,
  .typetype-audio-only-player .typetype-adaptive-audio-layout .vds-menu-button {
    grid-column: 6;
    grid-row: 1;
    margin-right: 0.45rem;
  }

  .typetype-audio-only-player .typetype-adaptive-audio-layout .typetype-audio-seek-button-backward {
    margin-left: 0.45rem;
  }
}
